.execsSection {
    display:flex;
    flex-direction: column;
    background-color: #111;
    padding: 30px 15%;
    gap: 4px;
}

.execsSection:nth-child(even) {
    background-color: transparent; /* No background for every second section */
}

.execsRow {
    padding:10px 0;
    justify-content: center;
    margin:auto;
    display: flex;
    flex-wrap:wrap;
    gap:10px;
}

.execsCard {
    flex: 1 1 calc(25% - 20px); /* Each card takes up 25% of the row minus the gap */
    max-width: calc(25% - 20px);
    text-align: center;
    border-radius: 8px;
    
}

.execsImage {
    border-radius: 8px;
}
