
/* Todo: 
 *  - media query at less than 500px to switch 
 *    up EventTile styling 
 */


/* 
 *    Main styling
 */

.EventMain {
  background-color: #272727;
}

.EventBody {
  margin: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 4em;
  padding-bottom: 6em;
}


/* 
 *    EventHeader styling
 */

.EventHeader {
  background-image: 
    url('/images/event_page_background_blur.png'), 
    url('/images/event_page_background.png');
  background-size: cover, cover;
  background-position: bottom center, bottom center;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  z-index: -1;
}

.EventHeader h1 {
  font-size: 64px;
  color: white;
  padding: 3.5em 0;
  margin: 1px;
  text-transform: uppercase;
  letter-spacing: .05em;
}


/* 
 *    Events styling
 */

.Events {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.EventsHeader {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 4px;
  font-size: 18px;
  text-transform: uppercase;
}

.EventsSubtitle {
  font-weight: 600;
  letter-spacing: 1px;
}


/* 
 *    EventsList styling
 */

.EventsList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5em;
}


/* 
 *    EventTile styling
 */

.EventTile {
  display: flex;
  align-items: start;
  position: relative;
  background-color: white;
  border-radius: 8px;
  padding: 32px;
  padding-right: 8px;
  gap: 2em;
  color: black;
}

.EventTileImage {
  width: 40%;
  height: 150px;
  flex-shrink: 0;     
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.EventTileImage img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.EventTileView {
  display: flex;
  justify-items: center;
  align-items: center;
  position: absolute;
  bottom: 2px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.EventTileGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.EventTileGroup > * {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 12px;
}

.EventTileGroup h3 {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0;
  margin-top: 8px;
}

.EventTileGroup h4 {
  font-size: 10px;
}

.EventTileInfo {
  text-transform: initial;
  margin: 16px 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 370px;
}


/* 
 *    LoadMore styling
 */

.LoadMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 64px;
  cursor: pointer;
}

.LoadMoreText {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.LoadMoreChevron {
  height: 10px;
}