.small-image {
  width: 100%;
  height: 32px;
  display: block;
}
.medium-image {
  min-width: 489px;
  min-height: 389px;
  /* max-width: 489px;
  max-height: 389px; */
  height: auto;
  display: block;
}

.medium-large-image {
  max-width: 500px;
  max-height: 500px;
  max-width: 100%;
  height: auto;
  display: block;
}

.fullscreen-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.dark-image {
  filter: brightness(60%);
}