.landing-screen{
    position: relative;
    width:100xw;
}
.landing-screen-container {
  position: relative;
  /* height: 1024px; */
  width: 100%;
  aspect-ratio: 4 / 3;
}

.landing-screen-logo{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.landing-screen-text{
    position: absolute;
    max-width: 489px;
    max-height: 389px;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    font-weight: bold;
    color:white;
    /* font-size: 20px; */
    font-size: clamp(8px, 2.5vw, 20px);
    z-index: 1;
}

.landing-screen-social{
    position: absolute;
    max-width: 489px;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 100%; 
    padding: 0 2rem;
    z-index: 1;
}

.landing-screen-more{
    width: 165px;
    position: absolute;
    top: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(8px, 2.5vw, 20px);
    cursor: default;
}

.landing-screen-more-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: default;
}
.landing-screen-arrow{
    margin-top: 20px;
    max-width: 32px;
}

.landing-screen-more-words{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white; 
    padding-bottom: 10px;
}

.more-link{
    text-decoration: none;
    color: white;
}

.landing-screen-arrow img{
    width: 100%;
    height: auto;
}

.instagram{
    height: 40px;
}

