.sponsors-section {
    background-color:#272727;
    width: 100%;
}

.sponsors-container{   
    width: 70%;
    margin: 0 auto;
    max-width: 1440px;
    aspect-ratio: 4 / 3;
}
.sponsors-header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 25%;
    position: relative;
    font-size: clamp(8px, 2.5vw, 24px);
}

.sponsors-body{
    height: 75%;
}

.sponsors-title{
    margin: 0;
    padding-bottom: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin: 0;
}