.sponsors-section {
    background-color:#272727;
    width: 100%;
    min-height: 500px;
    min-width: 780px;
}

.sponsors-container{   
    width: 70%;
    margin: 0 auto;
    max-width: 1440px;
}
.sponsors-header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 200px;
    position: relative;
}

.sponsors-body{
    min-height: 300px;
}

.sponsors-title{
    margin: 0;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin: 0;
}