.volunteer-section {
    background-color: #111111;
    width: 100%;
}

.volunteer-container{
    width: 70%;
    max-width: 1440px;
    aspect-ratio: 4 / 3;
    margin: 0 auto;
}
.volunteer-header {
    height: 20%;
    display: flex;
    align-items: flex-end;
}
.volunteer-body{
    height: 80%;

}
.volunteer-title{
    margin: 0;
    padding-bottom: 5%;
    font-size: clamp(8px, 2.5vw, 24px);
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.volunteer-block{
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: aqua;
}

.volunteer-image{
    flex: 1 1 50%;
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
}
.volunteer-text {
    background-color: #272727;
    flex: 1 1 50%;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    min-height: 0;
}
.volunteer-text-container{
    width: 70%; 
    height: 70%;
}
.volunteer-text-content {
    height:80%;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-size: 1.1vw;
    line-height: 1.2em;
}

.volunteer-link {
    height: 20%;;
    display: flex;
    justify-content: flex-end;
    align-items:  flex-end;
    text-align: bottom;
    font-weight: bold;
    font-size: 1.8vw;
}
.volunteer-image img {
    width: 100%; 
    display: block;
    object-fit: fill;
}

.volunteer-link a {
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
}