.gallery-grid {
  column-count: 3;
  column-gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.gallery-grid-item {
  margin-bottom: 0.2rem;
  break-inside: avoid;
}

/*Gallery Grid Breakpoint*/
@media (min-width: 1024px) {
  .gallery-grid {
    column-count: 5;
  }
}

.albums-header-section h2,
.albums-header-section h3 {
  margin-top: 0;
}

.albums-header-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 90px;
}

.albums-header-row h3 {
  font-style: italic;
}

/* 
 *    LoadMore styling
 */

.LoadMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: -4rem;
  margin-bottom: 5rem;
}

.LoadMoreText {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.LoadMoreChevron {
  height: 10px;
}
