.leaderboard-content {
    display: grid; /* Ensures the content is positioned correctly */
    width: 65.5%;
    /* width:1000px; */
    margin: 0 auto; /*Centers the content*/
    color:#000;
}
.button-back{
    display:flex;
    text-decoration:none;
    font-size:32px;
    color:#fff;
    margin: 1rem 0 1rem 0;
    font-weight: bold;
}
.leaderboard-tile {
    width: 100%;
    background-color:#fff;
    border-radius: 20px;
}
.leaderboard-tile-content {
    width:85.4%;
    margin: auto; /*Centers the content*/
    position: relative;
}

.leaderboard-tile-content h2{ 
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    margin: 1.5rem 0 0 0 ;
}
.top-right {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 0 0 0;
}

#board {
  width: 80%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0px 0px; /* vertical gap between rows */
  background-color: #fff;   /* color for the gaps */
}

.board tr{
    border-bottom: 1px solid #ddd;
}

.board td {
    border-color: #ddd;
    border-block-start-color: #ddd;
}

.board td.portrait {
    padding: 12px 80px; /* top/bottom, left/right padding */
    text-align: center;
}

.board td.name {
    padding: 12px 120px; /* top/bottom, left/right padding */
    text-align: center;
}

.board td.position {
    padding: 12px 275px; /* top/bottom, left/right padding */
    text-align: center;
}

.board td.score {
    padding: 12px 300px; /* top/bottom, left/right padding */
    text-align: center;
}
